<div class="sidebar">
    <div class="sidebar-inner">
        {% include 'page-elements/components/sidebar/header.twig' %}
        {% include 'page-elements/components/sidebar/menu.twig' %}
    </div>
</div>
