<li class="nav-item dropdown">
    {% include 'partials/sidebar-link.twig' with { c_url: 'achievement', c_color: 'rgb(255,215,0);', c_icon: 'fas fa-trophy', c_title: 'Achievements', has_arrow: false} %}
</li>
