<li class="nav-item dropdown {{ keepMenuOpen(currUrl, '', 'my-car') }}">
    {% include 'partials/sidebar-link.twig' with { c_url: 'javascript:void(0);', c_color: 'black;', c_icon: 'fas fa-car', c_title: 'Car', has_arrow: true} %}
    <ul class="dropdown-menu">
        <li><a class="sidebar-link" href="{{ path('my-car') }}">Schedules</a></li>
        <li><a class="sidebar-link" href="{{ path('my_car_settings') }}">Settings</a></li>
    </ul>
</li>
