<li class="nav-item dropdown {{ keepMenuOpen(currUrl, '', 'my-files') }}">
    {% include 'partials/sidebar-link.twig' with { c_url: 'javascript:void(0);', c_color: 'rgb(255,215,0);', c_icon: 'fas fa-folder-open', c_title: 'Files', has_arrow: true} %}
    <ul class="dropdown-menu">
        <li>
            <a class="sidebar-link" href="{{ path('modules_my_files') }}">Main folder</a>
        </li>
        {{ buildMenuForUploadType('files') | raw }}
    </ul>
</li>
