<li class="nav-item dropdown {{ keepMenuOpen(currUrl, '', 'my-images') }}">
    {% include 'partials/sidebar-link.twig' with { c_url: 'javascript:void(0);', c_color: 'rgb(133,187,101);', c_icon: 'fas fa-image', c_title: 'Images', has_arrow: true} %}
    <ul class="dropdown-menu">
        <li>
            <a class="sidebar-link" href="{{ path('modules_my_images') }}">Main folder</a>
        </li>
        {{ buildMenuForUploadType('images') | raw }}
    </ul>
</li>
