<li class="nav-item dropdown {{ keepMenuOpen(currUrl, path('my-job-afterhours')) }}">
    {% include 'partials/sidebar-link.twig' with { c_url: 'javascript:void(0);', c_color: 'rgb(114, 119, 122);', c_icon: 'fas fa-desktop', c_title: 'Job', has_arrow: true} %}
    <ul class="dropdown-menu">
        <li><a class="sidebar-link" href="{{ path('my-job-afterhours') }}">Afterhours</a></li>
        <li><a class="sidebar-link" href="{{ path('my-job-holidays') }}">Holidays</a></li>
        <li><a class="sidebar-link" href="{{ path('my-job-settings') }}">Settings</a></li>
    </ul>
</li>
