<li class="nav-item dropdown {{ keepMenuOpen(currUrl, '', 'my-passwords') }}">
    {% include 'partials/sidebar-link.twig' with { c_url: 'javascript:void(0);', c_color: 'gold;', c_icon: 'far fa-key', c_title: 'Passwords', has_arrow: true} %}
    <ul class="dropdown-menu">
        <li><a class="sidebar-link" href="{{ path('my-passwords') }}">Passwords</a></li>
        <li><a class="sidebar-link" href="{{ path('my-passwords-settings') }}">Settings</a></li>
    </ul>
</li>
