<li class="nav-item dropdown {{ keepMenuOpen(currUrl, path('my-shopping-plans')) }}">
    {% include 'partials/sidebar-link.twig' with { c_url: 'javascript:void(0);', c_color: 'rgb(114, 119, 122);', c_icon: 'fas fa-shopping-cart', c_title: 'Shopping', has_arrow: true} %}
    <ul class="dropdown-menu">
        <li>
            <a class="sidebar-link" href="{{ path('my-shopping-plans') }}">Plans</a>
        </li>
    </ul>
</li>
