<li class="nav-item dropdown {{ keepMenuOpen(currUrl, '', 'my-travels') }}">
    {% include 'partials/sidebar-link.twig' with { c_url: 'javascript:void(0);', c_color: 'rrgb(64, 164, 223);', c_icon: 'fas fa-plane', c_title: 'Travels', has_arrow: true} %}
    <ul class="dropdown-menu">
        <li>
            <a class="sidebar-link" href="{{ path('my-travels-ideas') }}">Ideas</a>
        </li>
    </ul>
</li>
