<li class="nav-item dropdown {{ keepMenuOpen(currUrl, '', 'my-notes') }}">
    {% include 'partials/sidebar-link.twig' with { c_url: 'javascript:void(0);', c_color: 'violet;', c_icon: 'fas fa-book', c_title: 'Notes', has_arrow: true} %}
    {# Notes - 1st level #}
    <ul class="dropdown-menu">
        <li>
            <a class="sidebar-link" href="{{ path('my-notes-create') }}">
                <span class="icon-holder" style="color:violet;">
                    <i class="fas fa-plus-circle"></i>
                </span>
                Create new
            </a>
        </li>
        <li>
            <a class="sidebar-link" href="{{ path('my-notes-settings') }}">
                <span class="icon-holder" style="color:violet;">
                    <i class="fas fa-cog"></i>
                </span>
                Settings
            </a>
        </li>

        {% set categories = getMyNotesCategories() %}
        {% include 'page-elements/components/sidebar/menu-nodes/notes-categories.twig' with {
            'elements': categories,
            'path_name': 'my-notes-category'
        } %}

    </ul>
</li>
