<li class="nav-item dropdown {{ keepMenuOpen(currUrl, '', 'upload') }}">
    {% include 'partials/sidebar-link.twig' with { c_url: 'javascript:void(0);', c_color: 'orange;', c_icon: 'fas fa-upload', c_title: 'Upload', has_arrow: true} %}
    <ul class="dropdown-menu">
        <li>
            <a class="sidebar-link" href="{{ path('upload') }}">
                Add
            </a>
        </li>
        <li>
            <a class="sidebar-link" href="{{ path('upload_settings') }}">
                Settings
            </a>
        </li>
    </ul>
</li>
